@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
  position: relative;
}
/* Navbar */

header span {
    color: #eea16d;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    height: 80px;
    background-color: rgb(88, 88, 88,0);
}
header .logo {
    color: rgb(255, 255, 255);
    display: flex;
}
header .logo img {
  height: 70px;
  width: 70px;
}
h1 {
  display: flex;
  align-items: center;
}
header .menu {
    display: flex;
}
header .menu li {
    margin: 0 15px;
    list-style: none;
}
header .menu li a {
    color: rgb(194, 194, 194);
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: 0.5s;
}
header .menu li a:hover, header .menu li:nth-child(1) a {
    color: #fff;
    font-size: 18px;
}
header .menu li a::before {
    position: absolute;
    bottom: -5px;
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 6px;
    transition: 0.5s;
    background-color: #eea16d;
}

header .menu li a:hover::before {
    width:100%;
}

/*Responsive*/

@media (max-width:909px) {
  header {
      padding: 0 5%;
  }
  header .menu {
      display: none;
  }
  .toggle-menu {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 1;
      position: relative;
  }
  .toggle-menu::before{
      position: absolute;
      content: "";
      height: 5px;
      width: 25px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 10px 10px 0 #fff;
      transform: translateY(-10px);
      transition: 0.5s;
  }
  .toggle-menu.active::before{
      transform: translateY(0) rotate(-45deg);
      box-shadow: 0 0px 0 #fff;
  }
  .toggle-menu::after{
      position: absolute;
      content: "";
      height: 5px;
      width: 25px;
      background-color: #fff;
      border-radius: 6px;
      transform: translateY(10px);
      transition: 0.5s;
  }
  .toggle-menu.active::after{
      transform: translateY(0) rotate(45deg);
      
  }
  header .menu.responsive {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #191513;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  header .menu.responsive li {
      margin: 25px 0;
  }
}

/* Principale */

.tortue {
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.tortue.activer {
  opacity: 1;
}

.principale {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  z-index: -1;
}

.principale h2 {
  position: absolute; 
  top: 100px;
  left: 100px; 
  color: bisque;
  font-size: 36px;
  background: linear-gradient(to left, #80580d, #b8ac45);
  padding: 10px 20px;
  border-radius: 5px;
  transform: rotate(5deg);
}
.principale div {
  position: absolute; 
  top: 200px;
  left: 100px; 
  color: white;
  font-size: 24px;
}

.principale img {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 50px;
}